.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}

.footerListsGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footerSingleList {
    list-style: none;
    padding: 0;
}

.footerSingleListItem {
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
    font-weight: 600;
}

.footerText {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 20px;
}